
bottle/.idea/inspectionProfiles/profiles_settings.xml
bottle/.idea/misc.xml
bottle/.idea/modules.xml
bottle/.idea/orange_dec.iml
bottle/camera.py
bottle/hd.txt
bottle/model/__init__.py
bottle/model/checkpoint
bottle/model/frozen.pb
bottle/model/frozen_inference_graph(0).pb
